body{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-cool-black-background-promotion-main-map-image_188883.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#container{
  background-color: #1C1C1C;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 85%;
  height: 450px;
  overflow: scroll;
  border: 1px black solid;
}

div#container::-webkit-scrollbar { 
  width: 8px; 
  background: #1C1C1C;
}
div#container::-webkit-scrollbar-thumb {
  background: #d0d0d0;
} 

div#container::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.light {
  background-color: #D3D3D3;
}

.op-0{
  opacity: 1.0;
}

.op-1{
  opacity: 0.9;
}

.op-2{
  opacity: 0.7;
}

.op-3{
  opacity: 0.5;
}


textarea {
  resize: none;
}